body{
  background: linear-gradient(#ce4a4a, #757fe8);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.App input {
  border: 1px solid #fff;
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 0 4px 0 4px;
  align-items: center;
  background-color: rgba(183, 74, 74, 0.479);
}
p{
  margin: 10px;
  font-size: 18px;
  border: 1px solid #000;
  padding: 10px 75px;
  border-radius: 4px 0 4px 0;
  align-items: center;
}
